@model CRUDJQUERYAJAX.Models.Employee
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="~/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
  



</head>

<div class="container">
    <button type="button" class="btn btn-primary mt-1" data-toggle="modal" data-target="#myModal" onclick="clearTextBox() , HideKey();">Add New User</button><br /><br />

    <table class="table table-bordered table-hover table table-bordered" id="PeopleTable">
        <thead>
            <tr class="text-center text-info">
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Address
                </th>
                <th>
                    Salary
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody text-center"></tbody>

    </table>
    @section Scripts
         {
        <script src="~/js/Emp.js"></script>
        <script src="~/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/datatables/js/dataTables.bootstrap4.js"></script>
      

    }

    <script>
        //$(document).ready(function () {
        //    //$('#PeopleTable').dataTable({
        //    //});
        //});
    </script>
</div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title m-1 float-right text-info" id="myModalLabel"></h4>
                    <button type="button" class="close text-danger float-left" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label asp-for="Id"></label>
                            <input asp-for="Id" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" id="Name" class="form-control" />

                            @* <span class="field-validation-valid text-danger" asp-validation-for="Name"></span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="Age"></label>
                            <input asp-for="Age" id="Age" class="form-control" />
                            @* <span class="field-validation-valid text-danger" asp-validation-for="Age"></span>*@
                        </div>

                        <div class="form-group">
                            <label asp-for="Salary"></label>
                            <input asp-for="Salary" id="Salary" class="form-control" />
                            @* <span class="field-validation-valid text-danger" asp-validation-for="Salary"></span>*@
                        </div>

                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" id="Address" class="form-control" />
                            @* <span class="field-validation-valid text-danger" asp-validation-for="Address"></span>*@
                        </div>

                        <div class="form-group">
                            <label asp-for="Gender"></label>
                            <select class="form-group" asp-for="Gender" id="Gender">
                                <option value="">--select--</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Transgender">Transgender</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>